.addcart{
    padding-bottom: 3rem;
}
.addcart__form{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.input-control-container{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightGrayishBlue);
}
.addcart__input{
    outline: none;
    border: none;
    background: none;
    text-align: center;
    font-weight: 700;
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
}
.addcart__control{
    padding: 2rem;
    color:var(--orange);
    font-weight: 700;
    font-size: 1.75rem;
    background-repeat: no-repeat;
    background-position: center;
   
}
.minus{
    background-image: url(../../../images/icon-minus.svg);

}
.plus{
    background-image: url(../../../images/icon-plus.svg); 
}

.addcart__addButton{
    border-radius: 8px;
    background-color: var(--orange);
    border: none;
    padding: 1rem;
    color: var(--white);
    box-shadow: 0px 0px 5px 0px var(--pale-orange);
    font-size: 1rem;
    font-weight: 700;
}
.addcart__addButton::before{
    content: '';
    padding: .8rem;
    background-image: url('../../../images/icon-cart-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
    
}
@media screen and (min-width: 1024px) {
    .addcart{
        padding-bottom: 0;
    }
    .addcart__form{
        flex-direction: row;
    }
    .input-control-container{
        width: 40%;
    }
    .addcart__addButton{
        width: 60%;
        padding: 1rem;
        font-size: 14px;
    }
    .addcart__addButton:hover{
        opacity: .8;
        cursor: pointer;
    }
    .addcart__control{
        padding: 1rem;
       
    
    }
    .addcart__control:hover{
        cursor: pointer;
        opacity: .8;
    }
    
}