
.banner{
    background: url(../../../images/image-product-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    position: relative;
    height: 300px;
}
.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    height: 2.5rem;
    width: 100%;
    left: 5%;
}
.controle{
    background-color: var(--white);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}
.controles__anterior{
    background-image: url(../../../images/icon-previous.svg);
}
.controles__proximo{
    background-image: url(../../../images/icon-next.svg);
}